body {
    background: url(/web_rau_sach/image/banner-bg.webp) no-repeat;
    background-position: center;
    background-size: cover;
}

/* Cash CSS */
.containercash {
    width: 40%;
    margin: 3rem auto;
    background-color: orange;
    box-sizing: border-box;
    padding: 30px 20px;
    border-radius: 3rem;
}

.cashdili {
    
}

.cashdili p {
    font-size: 20px;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.cashdili input {
    width: 100%;
    border-radius: 3px;
    padding: 10px 15px;
}

.cashdili label {
    font-size: 17px;
}

.cashdili option {
    font-size: 15px;
}

.cashdili select {
    margin-top: 1rem;
    height: 40px;
    font-size: 15px;
    margin-left: 15px;
    border-radius: 16px;
}

.cashdili .bt {
    margin-top: 3rem;
    padding: 20px 30px;
    display: flex;
    justify-content: space-around;
}

.cashdili .bt #submit,
#back {
    font-size: 1.7rem;
    background-color: #fff;
}

.cashdili .bt #back:hover {
    cursor: pointer;
    background-color: cornflowerblue;
}

.cashdili .bt #submit:hover {
    cursor: pointer;
    background-color: cornflowerblue;
}

/* modalcash */
/* The Modal (background) */
.modalcash {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.cashdili #tong {
    font-size: 20px;
    padding-left: 10px;
}

.logocash {
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, .1) ;
}

.logocash i {
    color: orange;
    font-size: 40px;
}

.logocash a {
    color: black;
    font-size: 2.5rem;
    font-weight: bolder;
}

/* Modal Content/Box */
.modalcash-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    /* Could be more or less, depending on screen size */
    text-align: center;
    font-size: 45px;
}

/* The Close Button */
.cashclose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.cashclose:hover,
.cashclose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Phương thức thanh toán */
.mobile{
    padding: 20px 30px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
}
.mobile img{
    width: 8rem;
    height: auto;
    border-radius: 5px;
    padding-right: 30px;
}
#credit1{
    margin-top: 3rem;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2rem 3rem;
}
#credit1 .cardnum{
    width: 100%;
}
#credit1 .name {
    width: 100%;
}
#credit1 .date {
    width: 100%;
}
#credit1 .ccv {
    width: 100%;
}
.bank{
    padding: 20px 30px;
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.5rem;
}

.bank .cardnum {
    width: 100%;
}

.bank .name {
    width: 100%;
}

.bank .date {
    width: 100%;
}
.bank p{
    margin: 10px 0;
}
/* Phương thức thanh toán */



@media (min-width: 1024px) and (max-width: 1239px) {
    .containercash {
        width: 60%;
    }
}

@media (max-width:991px){

}

@media (max-width:768px){
    .containercash {
        width: 60%;
    }
}

@media (max-width:450px){
    html {
        font-size: 50%;
    }

    .containercash {
        width: 100%;
    }
}